/*학습신청안내*/
.Study_Product .whtBox .question_Pax div .Num{font-family:'RobotoM'; font-size: 24px;letter-spacing: -0.25px;margin-top:-3px;}
.Study_Product .whtBox .question_Pax div .Num span{font-family:'RobotoM'; font-size: 13px;letter-spacing: -0.25px;vertical-align: middle; display: inline-block; margin-top: -3px; height: 30px; line-height: 30px;}
.Study_Product .whtBox .price p{font-family:'NotokrB';color:#ff7f00;font-size: 22px;letter-spacing: -0.25px;text-align: center; line-height: 32px;}
.Study_Product .whtBox .price .discount{font-family:'NotokrB';font-size: 16px;letter-spacing: -0.25px;color:#4b4e5e;position: relative;margin-top: 33px; line-height: 22px;}
.Study_Product .Bottom_Btn button { cursor: pointer; }
/*학습신청안내*/

/*결제하기_혜택적용*/
.Bene_price .Sub_web .bene_Table table tr .tdWrap p {
    border-right: none;
    display: inline-block;
    vertical-align: middle;
}
.Bene_price .Sub_web .bene_Table table tr .plus .price01 input {background:none;border:none;width: 100%;text-align:center; font-size:15px; font-weight:600; color:#ff7f00; letter-spacing:-0.5px; width: calc(100% - 30px);}
.Bene_price .Sub_web .bene_Table table tr .plus .price01 .priceUnit { font-size:15px; font-weight:600; color:#ff7f00; letter-spacing:-1.5px; display: inline-block; width: 20px; height: 34px; line-height: 34px;}
.Bene_price .Sub_web .bene_Button button { cursor: pointer; }
.Bene_price .Sub_web .bene_Table table tr .plus,
.Bene_price .Sub_web .bene_Table table tr .plus_rig,
.Bene_price .Sub_web .bene_Table table tr .sale {
    height: 57px;
}
.Bene_price .Sub_web .bene_Table table tr .plus .tdWrap {
    display: table;
}
.Bene_price .Sub_web .bene_Table table tr .plus p {
    border-left: none;
    border-right: none;
}
.Bene_price .Sub_web .bene_Table table tr .tdWrap {
    height: 100%;
}
.Bene_price .Sub_web .bene_Table table tr .tdWrap:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.Bene_price .Sub_web .bene_Table table tr .plus .tdWrap {
    border-left: 1px solid #bec5d7;
    border-right: 1px solid #bec5d7;
}
.Bene_price .Sub_web .bene_Table table tr .sale .tdWrap {
    border-right: 1px solid #bec5d7;
}
/*결제하기_혜택적용*/

/*1:1문의하기*/
.Inquiry_Pop .Inquiry_Pop_web .Addition_plus .Children_Grade .Children_main {
    display: block;
    height: 36px;
}
.Inquiry_Pop .Inquiry_Pop_web .Addition_plus .Children_Grade div p {
    line-height: 24px;
    height: 24px;;
}
.Inquiry_Pop .Inquiry_Pop_web .Addition_plus .Children_Grade div fieldset {
    width: 257px;
    margin-right: 0px;
}
.Inquiry_Pop .Inquiry_Pop_web .Addition_plus .Children_Grade .Children_plus_Btn {
    vertical-align: middle;
    float: right;
}
.Inquiry_Pop .Inquiry_Pop_web .Addition_plus .Children_Grade .Children_plus_Btn a {
    width: 32px;
    height: 36px;
    padding-right: 0;
}
.Inquiry_Pop .Inquiry_Pop_web .Net_Pop ul li {
    display: block;
}
.Inquiry_Pop .Inquiry_Pop_web .Net_Pop ul li:last-child {
    margin-bottom: 0;
}
.Inquiry_Pop .Inquiry_Pop_web .transmission {
    font-family: 'NotokrB';
}
.Inquiry_Pop .Inquiry_Pop_web {
    border-bottom: 5px solid #ff7f00;
    overflow: unset;
}
.Inquiry_Pop .Inquiry_Pop_web::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 10px;
    width: 427px;
    height: 5px;
    -webkit-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.5);
}
/*1:1문의하기*/

/*QuizList*/
.quizType .btnPlus {
    cursor: pointer;
    letter-spacing: 0.5px;
    line-height: 28px;
}
.quiz_Get .quiz_Comment .comBox .commBox .txtBox .txt {
    width: unset;
    max-width: 350px;
}
.quiz_Get .quiz_Comment .comBox .quiz_More div a {
    width: 100%;
    height: 100%;
    display: block;
}
.quizType .quizBotMenu .btnArea {
    font-size: 14px;
    height: 30px;
}
.quiz_List .quizBotMenu .btnArea .btnOrg {
    font-weight: 600;
    letter-spacing: 0.5px;
}
.quiz_Get .quiz_Comment .quiz_Reply .Re_pick {
    height: 20px;
    cursor: pointer;
}
.quiz_Get .quiz_Comment .quiz_Reply div button {
    cursor: pointer;
    font-family:'NotokrR'
}
/*QuizList*/

/*리플창*/
.Box_reply .reply_Like {
    padding-left: 15px;
    display: inline-block;
    width: 25px;
    font-size: 7px;
    text-indent: 2px;
    text-align: center;

}
/*리플창*/

/*또볼깨 메인*/
.SearchResult .popMemoBox .optionBox.on {
    z-index: 9999;
}
.SearchResult .fav .fav_web .etcBox {
    height: 35px;
}
.SearchResult .fav .fav_web .memoBox {
    position: relative;
    height: 30px;
}
.SearchResult .fav .fav_web .memoBox .memoTcon {
    position: absolute;
    left: 0;
    top: 3px;
}
.SearchResult .fav .fav_web .memoBox .memoText {
    display: inline-block;
    width: calc(100% - 30px);
    height: 30px;
    line-height: 30px;
    margin-left: 30px;
    text-align: left;
    font-size: 12px;
    color: #000b43;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.SearchResult .fav .fav_web .Memo_Hover {
    width: 180px;
}
.SearchResult .fav .fav_web .Memo_Hover .Memo_tit {
    display: none;
}
.SearchResult .fav .fav_web .Memo_Hover .Memo_Ta {
    font-size: 15px;
    color: #4b4e5e;
    height: 100%;
    overflow: hidden;
}
.SearchResult .fav .fav_web .Memo_Hover .Memo_Ta p {
    font-size: 15px;
}
.SearchResult .fav .fav_web .memoBox_Pop textarea {
    cursor: default;
}
.SearchResult .whtBox .tit_main a,
.SearchResult .whtBox .tit_main_sub a {
    text-align: justify;
    font-weight: 600;
    color: #4b4e5e;
    padding: 40px 0 20px;
}
.SearchResult .whtBox.full {
    margin-bottom: 20px;
}
.SearchResult .popMemoBox .popMemo .tit {
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}
.SearchResult .popMemoBox .popMemo a {
    position: absolute;
    top: 0;
    right: 0;
}
/*또볼깨 메인*/

/*QuizList*/
.quiz_Class .whtBox .tit_main a {
    text-align: justify;
    font-weight: 600;
    color: #4b4e5e;
    padding: 40px 0 20px;
}
/*QuizList*/

/*문제또볼깨*/
.quiz_Class .whtBox .quizType_web {
    margin-bottom: 10px;
}
.whtBox.full.search {
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.quiz_Class .whtBox.search .whtInnerBox {
    box-shadow: none;
}
.quiz_Class .quizBotMenu {
    padding: 10px 0;
    height: 50px;
}
.quiz_List .quizBotMenu .quiz_Like {
    height: 30px;
    line-height: 30px;
}
/*문제또볼깨*/

/*맞출깨메인*/
.review_cont_wrap .examMain a.on>div::after {
    content: '';
    display: block;
    position: absolute;
    left: 5px;
    bottom: -5px;
    width: calc(100% - 10px);
    height: 1px;
    border-bottom: 5px solid #cfd3de;
}
/*맞출깨메인*/

/*맞출깨정답릴레이*/
.review_cont_wrap .sl_scoreboard .Btn_GRoup a {
    width: 120px;
    margin: 3px;
}
.review_cont_wrap .sl_scoreboard .perTitBox .per {
    font-family: 'NotokrB';
}
/*맞출깨정답릴레이*/

/*계정정보*/
.Account_Web .whtBox .whtInnerBox .My_Profile .Pro_formal {
    cursor: pointer;
}
.Account_Web .Acc_Clause .Acc_Clause_box {
    background: none;
    position: relative;
}
.Account_Web .Acc_Clause .Acc_Clause_box::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    width: 10px;
    height: 6px;
    background: url('../images/btn/btn_header_bottom.png') no-repeat;
}
.Account_Web .Acc_Clause.on .Acc_Clause_box::after {
    transform: rotate(180deg);
}
/*계정정보*/

/*Normal - 메인영상*/
.quiz_Normal_wrap .kkaeMovieBox .movieContainer {
    width: 960px;
    height: 540px;
}
.review_container.difference .slick-initialized button.slick-arrow {
    top: -386px;
}
.review_container.difference .slick-initialized button.slick-next {
    right: -58px;
}
.review_container.difference .slick-initialized button.slick-prev {
    left: -58px;
}
/*Normal - 메인영상*/

/*장학제도*/
.scholarship .scholar_style .agree_file .check .ui-widget.ui-state-active {
    border: none;
}
/*장학제도*/